/* Universal styles */
body {
    background-color: beige;
    text-align: center;
}

a {
  color: black;
  text-decoration: none;
  padding: 0 20px;
}

div {
    display: inline-block;
}

.colors, .fonts, .textStyles {
    border: 3px solid black;
    margin: 10px 10px;
  }

/* Navbar styles */
.nav {
  background-color: burlywood;
  position: sticky;
  top: 0px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  margin: 5px 10px;
  display: block;
}

/* Colors styles */
.purple, .pink, .blue, .red, .black, .white {
    font-weight: bold;
    margin: 10px 10px;
    width: 200px;
}

.purple {
    background-color: #C119E3;
}

.pink {
    background-color: #FF00E1;
}

.blue {
    background-color: #135AF2;
}

.red {
    background-color: #F00A28;
}

.black {
    background-color: #000;
    color: white;
}

.white {
    background-color: #FFF;
}

/* Fonts styles */
.arial, .timesNewRoman, .calibri {
  margin: 0 10px;
}

.arial h3, .timesNewRoman h3, .calibri h3 {
    text-decoration: underline;
}

.arial .bold, .timesNewRoman .bold, .calibri .bold {
    font-weight: bold;
}

.arial .italic, .timesNewRoman .italic, .calibri .italic {
    font-style: italic;
}